<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Stepper :  numeric step input - angular/bootstrap">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Stepper</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/vladblindu/stepper">View on GitHub</a>

          <h1 id="project_title">Stepper</h1>
          <h2 id="project_tagline"> numeric step input - angular/bootstrap</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/vladblindu/stepper/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/vladblindu/stepper/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>
<a name="angular---stepper" class="anchor" href="#angular---stepper"><span class="octicon octicon-link"></span></a>Angular - stepper</h1>

<p>A simple step numeric input written with angular and bootstrap styling. It also contains a simple date input element 
if you don't want to use the bootstrap's datepicker.
No JQuery needed, no extra dependency needed.</p>

<p>Being writen by someone that does this as a hobby, it sure needs a lot of inprovments and also testing outside webkit.
I can't imagine what IE does with it and, to tell you the truth, using IE should get you ashamed not angry because 
of impropper rendering.</p>

<p>The library contains two directives:</p>

<p>step-number
usage: </p>

<pre><code>&lt;step-number ng-model="yourVar" max="Mval" min = "mVal"&gt;&lt;/step-number&gt;
</code></pre>

<p>step-date
usage: </p>

<pre><code>&lt;step-date ng-model="yourDate"&gt;&lt;/step-date&gt;
</code></pre>

<p>It has no support for ESC, ENTER (+/-) and (up/down) keys yet. I plan adding this feature in the near future.</p>

<p>Enjoy!</p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Stepper maintained by <a href="https://github.com/vladblindu">vladblindu</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
