/* ui-stepper Module
|--------------------------------------------------------------------------
|
| Creates a simple a simple numeric step input.
| Bootstrap friendly.
|
|   @package	ui-stepper
|   @item		CSS style
|   @category	Angular Module
|   @author		Vlad Blindu
|   @link		http://www.blinduben.ro
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
.step-number{
    border:1px solid;
    display: table;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    border-radius:4px;
    vertical-align: middle;
}
.input-xs {
    font-size: 12px;
    text-align: center;
    border:none;
}
.input-xs:focus{
    outline:none;
}
.step-number:focus{
    outline:none;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);

}
 .step-number span{
    display: inline;
}
.step-number i{
    width:100%;
    height: 100%;
}
.step-number button{
    margin:1px;
}

.fake-focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}
.step-date{
    display: inline-block;
}
